
@{
    ViewBag.Title = "Add a Request";
}

<h2>Add a Request</h2>

<div class="panel panel-success">
    <div class="panel-heading text-center">
        <h2>Request Form</h2>
    </div>
    <div class="panel-body">
        <hr />
        <div class="form-group">
            <label>Module Code:</label>

            <select name="Module Code">
                <option value="COA101">Monday</option>
            </select>
            <hr />
        </div>
        <div class="form-group form-horizontal">
            <label>Day:</label>
            <select name="Day">
                <option value="Monday">Monday</option>
            </select>

            <label>Start Time:</label>
            <select name="Start">
                <option value="1">Period 1</option>
            </select>

            <label>End Time:</label>
            <select name="End">
                <option value="1">Period2</option>
            </select>
        </div> 
        <hr />
        <div class="form-group">
            <h4>Weeks</h4>
            <label>1</label>@Html.CheckBox("1")
            <label>2</label>@Html.CheckBox("2")
            <label>3</label>@Html.CheckBox("3")
        </div>
        <hr />
        <div class="form-group">
            <h4>Special Requirements</h4>
            @Html.TextArea("Special")
        </div>
        <hr>
        <div class="form-group">
            <h4>Priority</h4>
            <label>Is this a Priority Request?</label>@Html.CheckBox("Priority")
        </div>
        <hr />

        <div class="panel panel-warning">
            <div class="panel-heading text-center">
                <h4>Room Preferences</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>No. Of Rooms</label>
                    <select name="rooms">
                        <option value="1">1</option>
                    </select>
                    <br />
                    <label>No. Of Students</label>
                    @Html.TextBox("Students")
                </div>
                <hr />

                <div class="form-group">
                    <label>Preference Room Type: </label>
                    <label>Any</label>@Html.CheckBox("1")
                    <label>Lecture</label>@Html.CheckBox("2")
                    <label>Seminar</label>@Html.CheckBox("3")
                    <br />
                    <label>No. Of Students</label>
                    @Html.TextBox("Students")
                </div>
            </div>
        </div>
        <input type="submit" value="Submit Request" class="btn btn-success" />
    </div>
</div>